<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/all.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
	<link rel="shortcut icon" href="../../static/images/logo_inverted_transparent.png" type="image/x-icon">
	<title>Client Reservation Form</title>
	<link rel="stylesheet" href="../static/css/style-termin.css">
	<link rel="icon" href="../static/images/LOGO-CS.png">
	<meta name="google-site-verification" content="M2rA1-ISXNAwgnKScW7xugeBITDEVh0h8LOcrxxLAkY" />

</head>
<header>
	<nav>
		<img src="../static/images/LOGO-CS.png">
		<a class="a" href="/templates/index.html" style="height: 3em;">ABOUT US</a>
		<a class="a" href="/templates/index.html" style="height: 3em;">SERVICESS</a>
		<a class="a" href="/templates/index.html" style="height: 3em;">CONTACTS</a>
		<a class="a" href="/templates/reservation.html" style="height: 3em;">TERMIN</a>
		<!-- <a class="a" href="/myAccount" style="height: 3em;" title="My account"><i class="far fa-user"></i></a> -->
		<a class="social" href="#"><i class="fab fa-twitter"></i></a>
		<a class="social" href="#"><i class="fab fa-instagram"></i></a>
		<a class="social" href="#"><i class="fab fa-facebook"></i></a>
	</nav>

</header>
<body>
	<div class="form-container">
		<h2>Make reservation</h2>
		<div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" required placeholder="Enter your name">
        </div>
        <!-- Email -->
        <div class="form-group">
            <label for="email">Your Email</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email">
        </div>
		<div class="form-group">
			<label for="phone">Your Phone Number</label>
			<input type="tel" id="phone" name="phone" required placeholder="Enter your phone number">
		</div>
		<div class="calendar">
			<div class="calendar-header">
				<button id="prevMonth" class="nav-button">&lt;</button>
				<h2 id="monthYear"></h2>
				<button id="nextMonth" class="nav-button">&gt;</button>
			</div>
			<div class="calendar-body">
				<div class="weekdays">
					<div>Su</div>
					<div>Mo</div>
					<div>Tu</div>
					<div>We</div>
					<div>Th</div>
					<div>Fr</div>
					<div>Sa</div>
				</div>
				<div class="days" id="calendarDays"></div>
			</div>
		</div>
		<div class="form-group">
			<label for="home-size">How large is your home in m²?</label>
			<input type="number" id="home-size" style="color: black;" placeholder="Enter size in m²">
		</div>
		<div class="days" id="days"></div>

		<div class="duration-container">
			<div class="arrow left">
				<svg width="10" height="13" viewBox="0 0 10 13" xmlns="http://www.w3.org/2000/svg">
					<path d="M.5 6.5l9-6v12z" fill="#5c8e85" fill-rule="evenodd"></path>
				</svg>
			</div>
			<div class="duration-buttons">
				<button class="duration-button">
					<div>
						<span class="duration-value">3</span>
						<span class="duration-unit">hours</span>
					</div>
				</button>
				<button class="duration-button">
					<div>
						<span class="duration-value">3.5</span>
						<span class="duration-unit">hours</span>
					</div>
				</button>
				<button class="duration-button">
					<div>
						<span class="duration-value">4</span>
						<span class="duration-unit">hours</span>
					</div>
				</button>
				<button class="duration-button">
					<div>
						<span class="duration-value">4.5</span>
						<span class="duration-unit">hours</span>
					</div>
				</button>
				<button class="duration-button">
					<div>
						<span class="duration-value">5</span>
						<span class="duration-unit">hours</span>
					</div>
				</button>
			</div>
			<div class="arrow right">
				<svg width="10" height="13" viewBox="0 0 10 13" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.5 6.5l-9-6v12z" fill="#5c8e85" fill-rule="evenodd"></path>
				</svg>
			</div>
		</div>
		<button type="button" id="submitBtn" class="submit-button">Submit</button>
	<script src="../static/JavaScript/termin.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

</body>
</html>
